
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:  hsl(235, 18%, 26%); */
  /* padding-top: 30px; */
}

.wrapper {
  /* width: 1440px; */
  /* height: 80%; */
  background-color: #fff;
  border-radius: 25px;
  /* padding: 10px 10px 5px 10px; */
  display: flex;
}

.rightDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 45%; */
}

.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem 1rem 3rem;
  font-size: 14px;
  height: 85%;
  width: 85%;
  margin: 0 auto;
  margin-top: 75px;
}

.leftDiv h1 {
  font-size: 52px;
}

.subHeading {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 20px;
  width: 90%;
}

.listDiv {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.listItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.listItem:last-child{
  margin-bottom: 2rem;
}

.listItem img {
  margin-right: 20px;
}



